/* Colors of project */
:root {
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --accent-color: #2196f3;
  --header-menu-color: #212121;
  --header-link-color: #757575;
  --header-border-color: #ececec;
  --footer-address-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --hero-title-color: #ffffff;
  --button-primary-color: #ffffff;
  --button-primary-bg: #2196f3;
  --h2-color: #212121;
  --h3-color: #212121;
  --p-color: #757575;
  --filter-inactive-color: #212121;
  --filter-inactive-bg: #f5f4fa;
  --body-bg: #e5e5e5;
  --footer-bg: #2f303a;
  --hero-bg: #2f303a;
  --header-bg: #ffffff;
  --border-line-color: #eeeeee;
  --our-team-section-bg: #f5f4fa;
}

/* body */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-bg);
  color: var(--p-color);
}

/* common styles for header and footer*/

/* Header */
.header {
  background-color: var(--header-bg);
  border-color: var(--header-border-color);
  border-bottom: 1px;
}
/* Logo */
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 119%;
  letter-spacing: 0.03em;
  color: var(--logo-header-color);
  text-decoration: none;
}
/* End of logo */

/* Menu */
.header-menu {
  list-style: none;
}

.header-menu-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--header-menu-color);
  line-height: 114%;
  letter-spacing: 0.02em;
}

.header-menu-item:hover,
.header-menu-item:focus {
  color: var(--accent-color);
}
/* Links */
.header-links {
  list-style: none;
}

.header-link-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--header-link-color);
  line-height: 114%;
  letter-spacing: 0.02em;
}

.header-link-item:hover,
.header-link-item:focus {
  color: var(--accent-color);
}
/* styles for index.html/main */

/* styles for portfolio.html/main */

/* Color accent */
.accent {
  color: var(--accent-color);
}
